<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

<head>
  {% include 'includes/head.html' %}
  <title>{% block title %}{% endblock %} - {{ _("WellTrack IA") }}</title>
  {% block extrastyle %}{% endblock extrastyle %}
</head>

<body>
  <!--Main Navigation-->
  <header>

    {% block nav %}
      {% include 'includes/nav.html' %}
    {% endblock nav %}
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  
    
  {% block content %}{% endblock content %}
  
  <!--Main layout-->

  {% include 'includes/modals.html' %}

  {% include 'includes/scripts.html' %}

  <script>
    function confirmDelete(url, pk) {

      Notiflix.Confirm.init({
        titleColor:"#ff5549", okButtonBackground:"#ff5549",
      });
        
      const messageTitle = "{{ _('Confirm deletion') }}";
      const messageText = "{{ _('Are you sure you want to delete this record?') }}";
      const okButtonText = "{{ _('Yes') }}";
      const cancelButtonText = "{{ _('No') }}";
    
      Notiflix.Confirm.show(
        messageTitle,
        messageText,
        okButtonText,
        cancelButtonText,
        function(){
          fetch(url, {
            method: 'POST', // The method
            headers: {
              'X-CSRFToken': getCookie('csrftoken'),
              'X-Requested-With': 'XMLHttpRequest'
            },
            body: JSON.stringify({ 'pk': pk })
          }).then(response => {
            if (response.ok) {
              location.reload(true);
            } else {
              return response.json().then(json => {
                return response.ok ? json : Promise.reject(json);
              });
            }
          }).catch(err => {
            const appName = document.querySelector('meta[name="app-name"]').content;
            const errorTitle = appName + " - {{ _('Failure') }}";
    
            var message = "";
            for (var key in err) {
              message += "<strong>" + key + " : </strong>" + err[key] + "<br>";
            }
    
            Notiflix.Report.init({
              plainText: false,
              messageMaxLength: 1024,
            });
            Notiflix.Report.failure(
              errorTitle,
              message,
              'Ok'
            );
          })
        },
      );
    }
  </script>

  {% block extra_js %}{% endblock extra_js %}

</body>

</html>
