{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{{ _("Dashboard") }}{% endblock %}

{% block content %}
<!--Section: Minimal statistics cards-->
<section>
  <div class="row">
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="far fa-user text-info fa-3x"></i>
            </div>
            <div class="text-end">
              <h3>{{ total_employees }}</h3>
              <p class="mb-0">{{ _('Active employees') }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="far fa-user text-secondary fa-3x"></i>
            </div>
            <div class="text-end">
              <h3>{{ total_empleados_inactivos }}</h3>
              <p class="mb-0">{{ _('Inactive employees') }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-chart-line text-success fa-3x"></i>
            </div>
            <div class="text-end">
              <h3>{{ total_videos_analyzed }}</h3>
              <p class="mb-0">{{ _('Videos analyzed') }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-sm-6 col-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between px-md-1">
            <div class="align-self-center">
              <i class="fas fa-chart-pie text-danger fa-3x"></i>
            </div>
            <div class="text-end">
              <h3>{{ dominant_emotion_percentage }} %</h3>
              <p class="mb-0">{{ _('Dominant') }} : {{ dominant_emotion_name }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section: Minimal statistics cards-->

<!--Section: Statistics with subtitles-->
<section>
  <div class="row">
    <div class="col-xl-6 col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between p-md-1">
            <div class="d-flex flex-row">
              <div class="align-self-center">
                <h2 class="h1 mb-0 me-4">{{ average_positive_emotion }} %</h2>
              </div>
              <div>
                <h4>{{ _('POSITIVE') }}</h4>
                <p class="mb-0">{{ _('Monthly average') }}</p>
              </div>
            </div>
            <div class="align-self-center">
              <i class="fas fa-face-smile text-success fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-md-12 mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between p-md-1">
            <div class="d-flex flex-row">
              <div class="align-self-center">
                <h2 class="h1 mb-0 me-4">{{ average_negative_emotion }} %</h2>
              </div>
              <div>
                <h4>{{ _('NEGATIVE') }}</h4>
                <p class="mb-0">{{ _('Monthly average') }}</p>
              </div>
            </div>
            <div class="align-self-center">
              <i class="fas fa-face-angry text-danger fa-3x"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Section: Statistics with subtitles-->

<!--Section: Chart by day -->
<section class="mb-4">
  <div class="card">
    <div class="card-body">
      <canvas class="my-4 w-100" id="emotionChartByDay" height="380"></canvas>
    </div>
  </div>
</section>
<!--Section: Chart by day -->

<!-- Section: Main chart -->
<section class="mb-4">
  <div class="card">
    <div class="card-body">
      <canvas class="my-4 w-100" id="emotionChart" height="380"></canvas>
    </div>
  </div>
</section>
<!-- Section: Main chart -->
{% endblock content %}


{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
<!-- Custom scripts -->
<script type="text/javascript" src="{% static 'js/emotions_chart.js' %}"></script>
<script type="text/javascript" src="{% static 'js/daily_by_shift_chart.js' %}"></script>
{% endblock extra_js %}
