{% load static %}

<!-- Navbar -->
<nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <!-- Container wrapper -->
  <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-collapse-init data-mdb-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>

      <!-- Brand -->
      <a class="navbar-brand" href="#">
        <!--<img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png" height="25" alt="" loading="lazy" />-->
        <img src="{% static 'img/logo/welltrack-transaprent-noshadows.png' %}" height="25" alt="" loading="lazy" />
      </a>
    </div>
    <!-- Left elements -->

    <!-- Center elements -->
    
    <ul class="navbar-nav flex-row d-none d-md-flex">
      {% if user.is_authenticated and user.is_staff %}
      <li class="nav-item me-3 me-lg-1 active">
        <a class="nav-link" href="{% url 'index' %}">
          <span><i class="fas fa-tachometer-alt fa-lg me-1"></i>{{ _("Dashboard") }}</span>
        </a>
      </li>

      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" href="{% url 'employee:video_list' %}">
          <span><i class="fas fa-clapperboard fa-lg me-1"></i>{{ _("Uploaded videos") }}</span>
        </a>
      </li>
      {% else %}
      <li class="nav-item me-3 me-lg-1">
        <a class="nav-link" href="{% url 'employee:me' %}">
          <span><i class="fas fa-clapperboard fa-lg me-1"></i>{{ _("Uploaded videos") }}</span>
        </a>
      </li>
      {% endif %}
    </ul>
    <!-- Center elements -->

    <!-- Right links -->
    <ul class="navbar-nav flex-row">

      <li class="nav-item me-3 me-lg-0">
        <a class="nav-link" href="https://github.com/jgracia/welltrack_ia.git">
          <i class="fab fa-github"></i>
        </a>
      </li>

      <!-- Icon dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow" href="#" id="navbarDropdown" role="button"
          data-mdb-dropdown-init aria-expanded="false">
          <img src="{% static 'img/icon/ic_flag_en.svg' %}" style="width: 20px; height: auto;">
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
          <li>
            <a class="dropdown-item" href="#">
              <img src="{% static 'img/icon/ic_flag_en.svg' %}" alt="USA Flag" class="me-2" 
                style="width: 20px; height: auto;">English
                  <i class="fa fa-check text-success ms-2"></i>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li>
            <a class="dropdown-item" href="#">
              <img src="{% static 'img/icon/ic_flag_es.svg' %}" alt="Spain Flag" class="me-2" 
                style="width: 20px; height: auto;">Español
            </a>
          </li>
        </ul>
      </li>

      <!-- Avatar -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" href="#"
          id="navbarDropdownMenuLink" role="button" data-mdb-dropdown-init aria-expanded="false">
          <img src="{{ user.profile.image_url }}" class="rounded-circle" height="22"
            alt="" loading="lazy" />
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="#">{{ _('My profile') }}</a></li>
          <!--<li><a class="dropdown-item" href="#">Settings</a></li>-->
          <li>
            <a class="dropdown-item" href="#" data-mdb-modal-init data-mdb-target="#logoutModal">
              <i class="fas fa-sign-out-alt me-2"></i>{{ _("Logout") }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
