{% load static %}

<!-- MDB -->
<script type="text/javascript" src="{% static 'js/mdb.umd.min.js' %}"></script>

<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.4/dist/chart.umd.min.js"></script>


<!-- Notiflix -->
<script type="text/javascript" src="{% static 'vendor/notiflix/dist/notiflix-3.2.7.min.js' %}"></script>

<!-- Custom scripts -->
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>

<!-- DataTables -->
<script src="{% static 'vendor/DataTables/datatables.js' %}"></script>

