{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{{ _("Emotional Analytic") }}{% endblock %}

{% block extrastyle %}
  <link href="{% static 'vendor/virtual-select/dist/virtual-select.min.css' %}" rel="stylesheet">

  <style>
    #employee-select {max-width: 100%; }

    /* estilos separador en select option */
    .divider {
      font-size: 0.15px;
      background: rgba(181, 197, 201);
    }
  </style>
{% endblock extrastyle %}

{% block content %}
<section class="mb-4">
  <div class="card">
    <div class="card-header py-3">
      <h5 class="mb-0 text-center"><strong>{{ _("Emotional Analytic") }}</strong></h5>
    </div>
    <div class="card-body">
      <!-- Pills navs -->
      <ul class="nav nav-pills nav-justified mb-3" id="ex1" role="tablist">
        <li class="nav-item" role="presentation">
          <a data-mdb-pill-init class="nav-link active" id="ex3-tab-1"
            href="#ex3-pills-1" role="tab" aria-controls="ex3-pills-1" aria-selected="true">
            <i class="fas fa-diagram-project fa-fw me-2"></i>{{ _("Work area") }}</a></a>
        </li>
        <li class="nav-item" role="presentation">
          <a data-mdb-pill-init class="nav-link" id="ex3-tab-2"
            href="#ex3-pills-2" role="tab" aria-controls="ex3-pills-2" aria-selected="false">
            <i class="fas fa-user-clock fa-fw me-2"></i>{{ _("Work shift") }}</a></a>
        </li>
        <li class="nav-item" role="presentation">
          <a data-mdb-pill-init class="nav-link" id="ex3-tab-3"
            href="#ex3-pills-3" role="tab" aria-controls="ex3-pills-3" aria-selected="false">
            <i class="fas fa-clock fa-fw me-2"></i>{{ _("Date and Hour") }}</a></a>
        </li>
        <li class="nav-item" role="presentation">
          <a data-mdb-pill-init class="nav-link" id="ex3-tab-4"
            href="#ex3-pills-4" role="tab" aria-controls="ex3-pills-4" aria-selected="false">
            <i class="fas fa-users fa-fw me-2"></i>{{ _("Employee") }}</a>
        </li>
      </ul>
      <!-- Pills navs -->

      <!-- Pills content -->
      <div class="tab-content" id="ex2-content">
        <div class="tab-pane fade show active" id="ex3-pills-1"
          role="tabpanel" aria-labelledby="ex3-tab-1">

          {# EMOCIONES POR ÁREA #}
          <div class="row mb-3">
            <div class="col-md-4 d-flex align-items-center">
              <div class="col">
                <label for="workerAreaFilter" class="col-form-label me-2"><b style="color: #dc3545;">{{ _("Select worker area") }}:</b></label>
                <select id="workerAreaFilter" name="workerAreaFilter" class="form-control form-select" required>
                  <option value="" selected>---------</option>
                  {% for qs in worker_area_list %}
                    <option value="{{ qs.id }}">{{ qs.name }}</option>
                  {% endfor %}
                  <optgroup class="divider"></optgroup>
                  <option value="0">{{ _("All work areas") }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-center">
              <div class="col">
                <label for="workerAreaFilterRangeDate" class="col-form-label me-2"><b style="color: #dc3545;">{{ _("Select date range") }}:</b></label>
                <div id="workerAreaFilterRangeDate" class="input-group">
                  <span class="input-group-text">Desde:</span>
                  <input type="date" id="workerAreaStartDate" name="workerAreaStartDate" value="{{ current_date }}" class="form-control" />
                  <span class="input-group-text">Hasta:</span>
                  <input type="date" id="workerAreaEndDate" name="workerAreaEndDate" value="{{ current_date }}" class="form-control" />
                </div>
              </div>
            </div>

            <div class="col-md-2 d-flex align-items-center">
              <button id="buttonFilterByWorkerArea" class="btn btn-sm btn-info mt-5">
                <i class="fas fa-magnifying-glass me-2"></i>{{ _("Filter") }}
              </button>
            </div>
          </div>

          <table id="workerAreaList" class="table table-striped table-hover display nowrap" style="width:100%">
            <thead>
              <tr class="table-info">
                <th scope="col">{{ _("Area name") }}</th>
                <th scope="col">{{ _("Date and Hour") }}</th>
                <th scope="col">{{ _("sad") }}</th>
                <th scope="col">{{ _("fear") }}</th>
                <th scope="col">{{ _("angry") }}</th>
                <th scope="col">{{ _("happy") }}</th>
                <th scope="col">{{ _("disgust") }}</th>
                <th scope="col">{{ _("neutral") }}</th>
                <th scope="col">{{ _("surprise") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="9" class="text-center bg-info">{{ _("No data available.") }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div
          class="tab-pane fade" id="ex3-pills-2"
          role="tabpanel" aria-labelledby="ex3-tab-2">
          
          {# EMOCIONES POR TURNOS #}
          <div class="row mb-3">
            <div class="col-md-4 d-flex align-items-center">
              <div class="col">
                <label for="workShiftFilter" class="col-form-label me-2"><b style="color: #dc3545;">{{ _("Select work shift") }}:</b></label>
                <select id="workShiftFilter" name="workShiftFilter" class="form-control form-select" required>
                  <option value="" selected>---------</option>
                  {% for qs in work_shift_list %}
                    <option value="{{ qs.id }}">{{ qs.name }}</option>
                  {% endfor %}
                  <optgroup class="divider"></optgroup>
                  <option value="0">{{ _("All work shifts") }}</option>
                </select>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-center">
              <div class="col">
                <label for="workShiftRangeDate" class="col-form-label me-2"><b style="color: #dc3545;">{{ _("Select date range") }}:</b></label>
                <div id="workShiftRangeDate" class="input-group">
                  <span class="input-group-text">Desde:</span>
                  <input type="date" id="workShiftStartDate" name="workShiftStartDate" value="{{ current_date }}" class="form-control" />
                  <span class="input-group-text">Hasta:</span>
                  <input type="date" id="workShiftEndDate" name="workShiftEndDate" value="{{ current_date }}" class="form-control" />
                </div>
              </div>
            </div>

            <div class="col-md-2 d-flex align-items-center">
              <button id="buttonFilterByWorkShift" class="btn btn-sm btn-info mt-5">
                <i class="fas fa-magnifying-glass me-2"></i>{{ _("Filter") }}
              </button>
            </div>
          </div>
          <table id="workShiftList" class="table table-striped table-hover display nowrap" style="width:100%">
            <thead>
              <tr class="table-info">
                <th scope="col">{{ _("Work shift name") }}</th>
                <th scope="col">{{ _("Date and Hour") }}</th>
                <th scope="col">{{ _("sad") }}</th>
                <th scope="col">{{ _("fear") }}</th>
                <th scope="col">{{ _("angry") }}</th>
                <th scope="col">{{ _("happy") }}</th>
                <th scope="col">{{ _("disgust") }}</th>
                <th scope="col">{{ _("neutral") }}</th>
                <th scope="col">{{ _("surprise") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="9" class="text-center bg-info">{{ _("No data available.") }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="ex3-pills-3"
          role="tabpanel" aria-labelledby="ex3-tab-3">
          
          {# EMOCIONES POR HORAS #}
          <div class="row mb-3">
            <div class="col-md-6 d-flex align-items-center">
              <div class="col">
                <label for="rangeHours" class="col-form-label me-2"><b style="color: #dc3545;">{{ _("Select date time range") }}:</b></label>
                <div id="rangeHours" class="input-group">
                  <span class="input-group-text">Desde:</span>
                  <input type="datetime-local" id="hourStartDateTime" name="hourStartDateTime" value="{{ start_date_time }}" class="form-control" />
                  <span class="input-group-text">Hasta:</span>
                  <input type="datetime-local" id="hourEndDateTime" name="hourEndDateTime" value="{{ end_date_time }}" class="form-control" />
                </div>
              </div>
            </div>

            <div class="col-md-2 d-flex align-items-center">
              <button id="buttonFilterHours" class="btn btn-sm btn-info mt-5">
                <i class="fas fa-magnifying-glass me-2"></i>{{ _("Filter") }}
              </button>
            </div>
          </div>
          <table id="hoursList" class="table table-striped table-hover display nowrap" style="width:100%">
            <thead>
              <tr class="table-info">
                <th scope="col">{{ _("Date and Hour") }}</th>
                <th scope="col">{{ _("sad") }}</th>
                <th scope="col">{{ _("fear") }}</th>
                <th scope="col">{{ _("angry") }}</th>
                <th scope="col">{{ _("happy") }}</th>
                <th scope="col">{{ _("disgust") }}</th>
                <th scope="col">{{ _("neutral") }}</th>
                <th scope="col">{{ _("surprise") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="8" class="text-center bg-info">{{ _("No data available.") }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="tab-pane fade" id="ex3-pills-4"
          role="tabpanel" aria-labelledby="ex3-tab-4">

          {# EMOCIONES POR EMPLEADO #}
          <div class="row mb-3">
            <div class="col-md-4 d-flex align-items-center">
              <div class="col">
                <label for="employee-select" class="col-form-label"><b style="color: #dc3545;">{{ _("Select employee") }}:</b></label><br>
                <div id="employee-select"></div>
              </div>
            </div>

            <div class="col-md-6 d-flex align-items-center">
              <div class="col">
                <label for="employeeFilterRangeDate" class="col-form-label me-2"><b style="color: #dc3545;">{{ _("Select date range") }}:</b></label>
                <div id="employeeFilterRangeDate" class="input-group">
                  <span class="input-group-text">Desde:</span>
                  <input type="date" id="employeeStartDate" name="employeeStartDate" value="{{ current_date }}" class="form-control" />
                  <span class="input-group-text">Hasta:</span>
                  <input type="date" id="employeeEndDate" name="employeeEndDate" value="{{ current_date }}" class="form-control" />
                </div>
              </div>
            </div>

            <div class="col-md-2 d-flex align-items-center">
              <button id="buttonFilterByEmployee" class="btn btn-sm btn-info mt-5">
                <i class="fas fa-magnifying-glass me-2"></i>{{ _("Filter") }}
              </button>
            </div>
          </div>
          <table id="employeeList" class="table table-striped table-hover display nowrap" style="width:100%">
            <thead>
              <tr class="table-info">
                <th scope="col">{{ _("Employee")}}</th>
                <th scope="col">{{ _("Date and Hour") }}</th>
                <th scope="col">{{ _("sad") }}</th>
                <th scope="col">{{ _("fear") }}</th>
                <th scope="col">{{ _("angry") }}</th>
                <th scope="col">{{ _("happy") }}</th>
                <th scope="col">{{ _("disgust") }}</th>
                <th scope="col">{{ _("neutral") }}</th>
                <th scope="col">{{ _("surprise") }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colspan="9" class="text-center bg-info">{{ _("No data available.") }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- Pills content -->
    </div>
  </div>
</section>
{% endblock content %}

{% block extra_js %}
  <script src="{% static 'vendor/virtual-select/dist/virtual-select.min.js' %}"></script>

  <script>
    $("form select").addClass("form-select");
    

    /*VirtualSelect.init({
      ele: '#employee-select',
      options: [
        
      ],
    });*/

    VirtualSelect.init({
      ele: '#employee-select',
      required: true,
      multiple: false,
      //showValueAsTags: true,
      search: true,
      placeholder: "{{ _('Select the employee here') }}",
      searchPlaceholderText: "{{ _('Search...') }}",
      noSearchResultsText: "{{ _('No results found') }}",
      onServerSearch: onEmployeeSelectServerSearch,
    });

    function onEmployeeSelectServerSearch(searchValue, virtualSelect) {
      fetch('/api/employee_apiview?q=' + searchValue)
      .then(response => response.json())
      .then(data => virtualSelect.setServerOptions(data));
    }

    document.addEventListener('DOMContentLoaded', function () {
      // filtro por área de trabajo
      const buttonFilterByWorkerArea = document.getElementById("buttonFilterByWorkerArea");
      buttonFilterByWorkerArea.addEventListener("click", (event) => {
        const csrftoken = getCookie('csrftoken');
        const url = "{% url 'employee:get_worker_area_emotions' %}"

        const selectElementArea = document.getElementById('workerAreaFilter')
        // Get the selected option
        const selectedAreaOption = selectElementArea.options[selectElementArea.selectedIndex];
        // Get the value and text of the selected option
        const workerArea = selectedAreaOption.value;

        const startDate = document.getElementById('workerAreaStartDate').value;
        const endDate = document.getElementById('workerAreaEndDate').value;


        /*console.log("Datos enviados al backend")
        console.log("area: " + workerArea)
        console.log("start date: " + startDate.value)
        console.log("end date: " + endDate.value)*/

        // Verificar si workerArea tiene datos
        if (!workerArea) {
            //alert("Por favor, selecciona un área de trabajo.");
            Notiflix.Report.warning(
              'Welltrack Warning',
              "{{ _('Please select a work area.') }}",
              'Okay',
            );
            return;
        }

        // Verificar si las fechas son válidas
        if (!startDate || !endDate) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('Please select a valid date range.') }}",
            'Okay',
          );
          return;
        }

        const startDateObj = new Date(startDate);
        const endDateObj = new Date(endDate);

        if (isNaN(startDateObj.getTime()) || isNaN(endDateObj.getTime())) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('Please select valid dates.') }}",
            'Okay',
          );
          return;
        }

        if (startDateObj > endDateObj) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('The start date cannot be later than the end date.') }}",
            'Okay',
          );
          return;
        }

        const data = {
          'worker_area': workerArea,
          'start_date': startDate,
          'end_date': endDate,
        }

        fetch(url, {
          method: 'POST', // The method
          headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify(data) //JavaScript object of data to POST
        }).then(response => {
          // Do whatever with returnedData
          // console.log(response)
          if (response.ok) {
            return response.json().then(json => {
              // console.log(json)
              fillWorkerAreaTable(json.area_emotions)
            });
          } else {
            //return Promise.reject('Something went wrong!')
            return response.json().then(json => {
              return response.ok ? json : Promise.reject(json);
            });
          }
        }).catch(err => {
          // In case it errors.
          // console.log('Hubo un problema con la petición Fetch:' + err.message);

          const app = document.querySelector('meta[name="app-name"]').content;
          const title = app + " - {{ _('Failure') }}";
          //const title = "Falla"

          //console.log(err)
          var message = "";
          for (var key in err) {
            //console.log("key " + key + " has value " + err[key]);
            //console.log(key + ":" + err[key]);
            message += "<strong>" + key + " : </strong>" + err[key] + "<br>";
          }

          Notiflix.Report.init({
            plainText: false,
            //svgSize:"60px",
            messageMaxLength: 1024,
          });
          Notiflix.Report.failure(
            title,
            message,
            'Ok'
          );
        })
      });

      // filtro por turno de trabajo
      const buttonFilterByWorkShift = document.getElementById("buttonFilterByWorkShift");
      buttonFilterByWorkShift.addEventListener("click", (event) => {
        const csrftoken = getCookie('csrftoken');
        const url = "{% url 'employee:get_work_shift_emotions' %}"

        const selectElementWorkShift = document.getElementById('workShiftFilter')
        // Get the selected option
        const selectedWorkShiftOption = selectElementWorkShift.options[selectElementWorkShift.selectedIndex];
        // Get the value and text of the selected option
        const workShift = selectedWorkShiftOption.value;

        const startDate = document.getElementById('workShiftStartDate').value;
        const endDate = document.getElementById('workShiftEndDate').value;

        // Verificar si workerArea tiene datos
        if (!workShift) {
            //alert("Por favor, selecciona un área de trabajo.");
            Notiflix.Report.warning(
              'Welltrack Warning',
              "{{ _('Please select a work shift.') }}",
              'Okay',
            );
            return;
        }

        // Verificar si las fechas son válidas
        if (!startDate || !endDate) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('Please select a valid date range.') }}",
            'Okay',
          );
          return;
        }

        const startDateObj = new Date(startDate);
        const endDateObj = new Date(endDate);

        if (isNaN(startDateObj.getTime()) || isNaN(endDateObj.getTime())) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('Please select valid dates.') }}",
            'Okay',
          );
          return;
        }

        if (startDateObj > endDateObj) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('The start date cannot be later than the end date.') }}",
            'Okay',
          );
          return;
        }

        const data = {
          'work_shift': workShift,
          'start_date': startDate,
          'end_date': endDate,
        }

        fetch(url, {
          method: 'POST', // The method
          headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify(data) //JavaScript object of data to POST
        }).then(response => {
          // Do whatever with returnedData
          // console.log(response)
          if (response.ok) {
            return response.json().then(json => {
              //console.log(json)
              fillWorkShiftTable(json.work_shift_emotions)
            });
          } else {
            //return Promise.reject('Something went wrong!')
            return response.json().then(json => {
              return response.ok ? json : Promise.reject(json);
            });
          }
        }).catch(err => {
          // In case it errors.
          // console.log('Hubo un problema con la petición Fetch:' + err.message);

          const app = document.querySelector('meta[name="app-name"]').content;
          const title = app + " - {{ _('Failure') }}";
          //const title = "Falla"

          //console.log(err)
          var message = "";
          for (var key in err) {
            //console.log("key " + key + " has value " + err[key]);
            //console.log(key + ":" + err[key]);
            message += "<strong>" + key + " : </strong>" + err[key] + "<br>";
          }

          Notiflix.Report.init({
            plainText: false,
            //svgSize:"60px",
            messageMaxLength: 1024,
          });
          Notiflix.Report.failure(
            title,
            message,
            'Ok'
          );
        })
      })

      // fitro por fecha y hora
      const buttonFilterHours = document.getElementById("buttonFilterHours");
      buttonFilterHours.addEventListener("click", (event) => {
        const csrftoken = getCookie('csrftoken');
        const url = "{% url 'employee:get_hourly_emotions' %}"

        const startDateTime = document.getElementById('hourStartDateTime').value;
        const endDateTime = document.getElementById('hourEndDateTime').value;

        // Verificar si las fechas son válidas
        if (!startDateTime || !endDateTime) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('Please select a valid date range.') }}",
            'Okay',
          );
          return;
        }

        const startDateTimeObj = new Date(startDateTime);
        const endDateTimeObj = new Date(endDateTime);

        if (isNaN(startDateTimeObj.getTime()) || isNaN(endDateTimeObj.getTime())) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('Please select valid dates.') }}",
            'Okay',
          );
          return;
        }

        if (startDateTimeObj > endDateTimeObj) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('The start date cannot be later than the end date.') }}",
            'Okay',
          );
          return;
        }

        const data = {
          'start_date_time': startDateTime,
          'end_date_time': endDateTime,
        }

        fetch(url, {
          method: 'POST', // The method
          headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify(data) //JavaScript object of data to POST
        }).then(response => {
          // Do whatever with returnedData
          // console.log(response)
          if (response.ok) {
            return response.json().then(json => {
              //console.log(json)
              fillHoursTable(json.hourly_emotions)
            });
          } else {
            //return Promise.reject('Something went wrong!')
            return response.json().then(json => {
              return response.ok ? json : Promise.reject(json);
            });
          }
        }).catch(err => {
          // In case it errors.
          // console.log('Hubo un problema con la petición Fetch:' + err.message);

          const app = document.querySelector('meta[name="app-name"]').content;
          const title = app + " - {{ _('Failure') }}";
          //const title = "Falla"

          //console.log(err)
          var message = "";
          for (var key in err) {
            //console.log("key " + key + " has value " + err[key]);
            //console.log(key + ":" + err[key]);
            message += "<strong>" + key + " : </strong>" + err[key] + "<br>";
          }

          Notiflix.Report.init({
            plainText: false,
            //svgSize:"60px",
            messageMaxLength: 1024,
          });
          Notiflix.Report.failure(
            title,
            message,
            'Ok'
          );
        })


      });

      // filtro por empleados
      const buttonFilterByEmployee = document.getElementById("buttonFilterByEmployee");
      buttonFilterByEmployee.addEventListener("click", (event) => {
        const csrftoken = getCookie('csrftoken');
        const url = "{% url 'employee:get_employee_hourly_emotions' %}"

        /** To validate a single dropdown */
        //document.querySelector('#empoyee-select').validate();

        //const employeeList = document.querySelector('#employee-select').value;

        let employeeEl = document.getElementById('employee-select')
        //employeeList = employeeEl.value
        const employeeValue = employeeEl.value;

        const startDate = document.getElementById('employeeStartDate').value;
        const endDate = document.getElementById('employeeEndDate').value;

        // Verificar si employeeList tiene datos
        if (!employeeValue.length) {
          //alert("Por favor, selecciona un empleado.");
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('Please select an employee.') }}",
            'Okay',
          );
          return;
        }

        // Verificar si las fechas son válidas
        if (!startDate || !endDate) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('Please select a valid date range.') }}",
            'Okay',
          );
          return;
        }

        const startDateObj = new Date(startDate);
        const endDateObj = new Date(endDate);

        if (isNaN(startDateObj.getTime()) || isNaN(endDateObj.getTime())) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('Please select valid dates.') }}",
            'Okay',
          );
          return;
        }

        if (startDateObj > endDateObj) {
          Notiflix.Report.warning(
            'Welltrack Warning',
            "{{ _('The start date cannot be later than the end date.') }}",
            'Okay',
          );
          return;
        }

        const data = {
          'employee': employeeValue || '0', // Asigna '0' si no hay valores seleccionados
          'start_date': startDate,
          'end_date': endDate,
        }

        fetch(url, {
          method: 'POST', // The method
          headers: {
            'Accept': 'application/json',
            'X-Requested-With': 'XMLHttpRequest', //Necessary to work with request.is_ajax()
            'X-CSRFToken': csrftoken,
          },
          body: JSON.stringify(data) //JavaScript object of data to POST
        }).then(response => {
          // Do whatever with returnedData
          // console.log(response)
          if (response.ok) {
            return response.json().then(json => {
              //console.log(json)
              fillEmployeeTable(json.employee_hourly_emotions)
            });
          } else {
            //return Promise.reject('Something went wrong!')
            return response.json().then(json => {
              return response.ok ? json : Promise.reject(json);
            });
          }
        }).catch(err => {
          // In case it errors.
          // console.log('Hubo un problema con la petición Fetch:' + err.message);

          const app = document.querySelector('meta[name="app-name"]').content;
          const title = app + " - {{ _('Failure') }}";
          //const title = "Falla"

          //console.log(err)
          var message = "";
          for (var key in err) {
            //console.log("key " + key + " has value " + err[key]);
            //console.log(key + ":" + err[key]);
            message += "<strong>" + key + " : </strong>" + err[key] + "<br>";
          }

          Notiflix.Report.init({
            plainText: false,
            //svgSize:"60px",
            messageMaxLength: 1024,
          });
          Notiflix.Report.failure(
            title,
            message,
            'Ok'
          );
        })
      })
    })


    // llenar tabla por área de trabajo
    const containerWorkerArea = document.querySelector("#workerAreaList tbody");
    const fillWorkerAreaTable = (data) => {
      //console.log(data)

      let tablaHTML = ``;
      let hasData = false;

      for (const area in data) {
        console.log(`Area: ${area}`);
        const dates = data[area];
        for (const date in dates) {
          console.log(`  Date: ${date}`);
          const hours = dates[date];
          for (const hour in hours) {
            console.log(`    Hour: ${hour}`);
            const emotions = hours[hour];
            let tmpTableDetail = `<tr>
                                    <td>${area}</td>
                                    <td>${date} ${hour}</td>
                                    <td>${emotions.sad || 0}</td>
                                    <td>${emotions.fear || 0}</td>
                                    <td>${emotions.angry || 0}</td>
                                    <td>${emotions.happy || 0}</td>
                                    <td>${emotions.disgust || 0}</td>
                                    <td>${emotions.neutral || 0}</td>
                                    <td>${emotions.surprise || 0}</td>
                                  </tr>`;
            tablaHTML += tmpTableDetail;
            hasData = true;
          }
        }
      }

      if (!hasData) {
        tablaHTML = `<tr>
                      <td colspan="9" class="text-center bg-info">{{ _("No data available.") }}</td>
                    </tr>`;
        Notiflix.Notify.info("{{ _('No data available.') }}");
      }
      containerWorkerArea.innerHTML = tablaHTML;
    }


    // llenar tabla por turno de trabajo
    const containerWorkShift = document.querySelector("#workShiftList tbody");
    const fillWorkShiftTable = (data) => {
      //console.log(data)

      let tablaHTML = ``;
      let hasData = false;

      for (const shift in data) {
        console.log(`Shift: ${shift}`);
        const dates = data[shift];
        for (const date in dates) {
          console.log(`  Date: ${date}`);
          const hours = dates[date];
          for (const hour in hours) {
            console.log(`    Hour: ${hour}`);
            const emotions = hours[hour];
            let tmpTableDetail = `<tr>
                                    <td>${shift}</td>
                                    <td>${date} ${hour}</td>
                                    <td>${emotions.sad || 0}</td>
                                    <td>${emotions.fear || 0}</td>
                                    <td>${emotions.angry || 0}</td>
                                    <td>${emotions.happy || 0}</td>
                                    <td>${emotions.disgust || 0}</td>
                                    <td>${emotions.neutral || 0}</td>
                                    <td>${emotions.surprise || 0}</td>
                                  </tr>`;
            tablaHTML += tmpTableDetail;
            hasData = true;
          }
        }
      }

      if (!hasData) {
        tablaHTML = `<tr>
                      <td colspan="9" class="text-center bg-info">{{ _("No data available.") }}</td>
                    </tr>`;
        Notiflix.Notify.info("{{ _('No data available.') }}");
      }
      containerWorkShift.innerHTML = tablaHTML;
    }


    // llenar tabla por fecha y hora trabajo
    const containerHours = document.querySelector("#hoursList tbody");
    const fillHoursTable = (data) => {
      console.log(data)

      let tablaHTML = ``;
      let hasData = false;

      for (const date in data) {
        console.log(`  Date: ${date}`);
        const hours = data[date];
        for (const hour in hours) {
          console.log(`    Hour: ${hour}`);
          const emotions = hours[hour];
          let tmpTableDetail = `<tr>
                                  <td>${date} ${hour}</td>
                                  <td>${emotions.sad || 0}</td>
                                  <td>${emotions.fear || 0}</td>
                                  <td>${emotions.angry || 0}</td>
                                  <td>${emotions.happy || 0}</td>
                                  <td>${emotions.disgust || 0}</td>
                                  <td>${emotions.neutral || 0}</td>
                                  <td>${emotions.surprise || 0}</td>
                                </tr>`;
          tablaHTML += tmpTableDetail;
          hasData = true;
        }
      }
      

      if (!hasData) {
        tablaHTML = `<tr>
                      <td colspan="8" class="text-center bg-info">{{ _("No data available.") }}</td>
                    </tr>`;
        Notiflix.Notify.info("{{ _('No data available.') }}");
      }
      containerHours.innerHTML = tablaHTML;
    }


    // llenar tabla por empleados
    const containerEmployee = document.querySelector("#employeeList tbody");
    const fillEmployeeTable = (data) => {
      //console.log(data)

      let tablaHTML = ``;
      let hasData = false;

      for (const employee in data) {
        console.log(`Employee: ${employee}`);
        const dates = data[employee];
        for (const date in dates) {
          console.log(`  Date: ${date}`);
          const hours = dates[date];
          for (const hour in hours) {
            console.log(`    Hour: ${hour}`);
            const emotions = hours[hour];
            let tmpTableDetail = `<tr>
                                    <td>${employee}</td>
                                    <td>${date} ${hour}</td>
                                    <td>${emotions.sad || 0}</td>
                                    <td>${emotions.fear || 0}</td>
                                    <td>${emotions.angry || 0}</td>
                                    <td>${emotions.happy || 0}</td>
                                    <td>${emotions.disgust || 0}</td>
                                    <td>${emotions.neutral || 0}</td>
                                    <td>${emotions.surprise || 0}</td>
                                  </tr>`;
            tablaHTML += tmpTableDetail;
            hasData = true;
          }
        }
      }

      if (!hasData) {
        tablaHTML = `<tr>
                      <td colspan="9" class="text-center bg-info">{{ _("No data available.") }}</td>
                    </tr>`;
        Notiflix.Notify.info("{{ _('No data available.') }}");
      }
      containerEmployee.innerHTML = tablaHTML;
    }
  </script>
{% endblock extra_js %}
