{% extends "layouts/base.html" %}
{% load static %}

{% block title %}{{ _("Emotional Analytic") }}{% endblock %}

{% block content %}
<section class="mb-4">
  <div class="card">
    <div class="card-header py-3">
      <h5 class="mb-0 text-center"><strong>{{ _("Emotional Analytic") }}</strong></h5>
    </div>
    <div class="card-body">
      
    </div>
  </div>
</section>
{% endblock content %}

{% block extra_js %}
<script>
document.addEventListener('DOMContentLoaded', function () {
  
})
</script>
{% endblock extra_js %}
